<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqENBrynkN5bbO16YUnpG0mQA8u7we9T0</string>
	<key>GCM_SENDER_ID</key>
	<string>70275861613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.magicsolutionseg.feedinsta</string>
	<key>PROJECT_ID</key>
	<string>feedinsta-7d871</string>
	<key>STORAGE_BUCKET</key>
	<string>feedinsta-7d871.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70275861613:ios:55f422e6e1806893a54364</string>
</dict>
</plist>